<div class="information">
    <div class="discipline-info">
        <div class="header">
            <h4>
                Discipline
            </h4>
        </div>
        <div class="discipline-list">
            <table class="selected-list table">
                <thead>
                <tr>
                    <td class="name">Name</td>
                    <td class="hours">H/Lector</td>
                    <td class="action">Action</td>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td class="name">Спецкурс</td>
                    <td class="hours">
                        <div>200h</div>
                        <div>
                                <span>
                                    Лавринович
                                </span>
                            <a href="" class="remove-lector">
                                <span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span>
                            </a>
                        </div>
                    </td>
                    <td class="action"><a href="">Change</a></td>
                </tr>
                <tr>
                    <td class="name">Спецкурс</td>
                    <td class="hours">
                        <div>200h</div>
                        <div>
                                <span>
                                    Лавринович
                                </span>
                            <a href="" class="remove-lector">
                                <span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span>
                            </a>
                        </div>
                    </td>
                    <td class="action"><a href="">Change</a></td>
                </tr>
                <tr class="selected-item">
                    <td class="name">Спецкурс</td>
                    <td class="hours">
                        <div>200h</div>
                        <div>
                                <span>
                                    Лавринович
                                </span>
                            <a href="" class="remove-lector">
                                <span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span>
                            </a>
                        </div>
                    </td>
                    <td class="action"><a href="">Change</a></td>
                </tr>
                <tr>
                    <td class="name">Спецкурс</td>
                    <td class="hours">
                        <div>200h</div>
                        <div>
                                <span>
                                    Лавринович
                                </span>
                            <a href="" class="remove-lector">
                                <span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span>
                            </a>
                        </div>
                    </td>
                    <td class="action"><a href="">Change</a></td>
                </tr>
                <tr>
                    <td class="name">Спецкурс</td>
                    <td class="hours">
                        <div>200h</div>
                        <div>
                                <span>
                                    Лавринович
                                </span>
                            <a href="" class="remove-lector">
                                <span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span>
                            </a>
                        </div>
                    </td>
                    <td class="action"><a href="">Change</a></td>
                </tr>
                <tr>
                    <td class="name">Спецкурс</td>
                    <td class="hours">
                        <div>200h</div>
                        <div>
                                <span>
                                    Лавринович
                                </span>
                            <a href="" class="remove-lector">
                                <span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span>
                            </a>
                        </div>
                    </td>
                    <td class="action"><a href="">Change</a></td>
                </tr>
                <tr>
                    <td class="name">Спецкурс</td>
                    <td class="hours">
                        <div>200h</div>
                        <div>
                                <span>
                                    Лавринович
                                </span>
                            <a href="" class="remove-lector">
                                <span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span>
                            </a>
                        </div>
                    </td>
                    <td class="action"><a href="">Change</a></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="add-button">
            <button class="add-new-button btn btn-success home-button">Add new</button>
        </div>
    </div>

    <div class="instruments">
        <div class="link-button">
            <button class="btn btn-warning home-button">Link</button>
        </div>
        <div class="print-button">
            <button class="btn btn-danger home-button" ng-click="vm.printTables()">Print tables</button>
        </div>
    </div>

    <div class="lector-info">
        <div class="header">
            <h4>
                Lector
            </h4>
        </div>
        <div class="lector-list">
            <table class="selected-list table">
                <thead>
                <tr>
                    <td class="name">Name</td>
                    <td class="hours">Used / All</td>
                    <td class="action">Action</td>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="lector in vm.lectorList">
                    <td class="name">{{lector.name}}</td>
                    <td class="hours">
                        <span>{{lector.hours.used}}</span>
                        <span>/</span>
                        <span>{{lector.hours.all}}</span>
                    </td>
                    <td class="action"><a href="" ng-click="vm.openLectorModifying(lector, $event)">Change</a></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="add-button">
            <button class="add-new-button btn btn-success home-button" ng-click="vm.openLectorAdding($event)">Add new</button>
        </div>
    </div>
</div>