<div class="row">
    <div class="list-group col-md-2 col-md-offset-1">
        <h5 class="list-group-item">Дисциплины </h5>
        <a class="list-group-item hover-mouse"
           ng-repeat="discipline in vm.disciplines"
           ng-class="{active:$index === vm.activeDiscipline}"
           ng-bind="discipline.name"
           ng-click="vm.activeDiscipline=$index">
        </a>
        <a class="btn btn-default btn-sm width-button" ng-click="vm.addDiscipline()">Изменить</a>
    </div>
    <div class="list-group col-md-8">
        <div class="list-group-item">
            <div class="row">
                <span>Имя : </span>
                <input type="text" ng-model="vm.disciplines[vm.activeDiscipline].name">
                <span>Курс : </span>
                <select ng-model="vm.disciplines[vm.activeDiscipline].curs"  required>
                    <option ng-repeat="course in vm.courses" value="{{course.id}}">{{course.name}}</option>
                </select>
                <span>Тип дисциплины : </span>
                <select ng-model="vm.disciplines[vm.activeDiscipline].type"  required>
                    <option value="common">Общая</option>
                    <option value="special">Спецкурс</option>
                </select>

            </div>
        </div>
        <table class="table table-hover list-group-item">
            <thead>
            <tr>
                <td><strong>Имя</strong></td>
                <td><strong>Лекции</strong></td>
                <td><strong>Практики</strong></td>
                <td><strong>КСР</strong></td>
                <td><strong>Зачет</strong></td>
                <td><strong>Экз</strong></td>
                <td></td>
                <td></td>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="sub in vm.disciplines[vm.activeDiscipline].subs">
                <td ng-bind="sub.name"></td>
                <td ng-bind="sub.lectures"></td>
                <td ng-bind="sub.practices"></td>
                <td ng-bind="sub.csr"></td>
                <td >
                    <span ng-if="sub.credit" class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                </td>
                <td >
                    <span ng-if="sub.exam" class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                </td>
                <td >
                    <span class="glyphicon glyphicon-cog hover-mouse" aria-hidden="true"></span>
                </td>
                <td >
                    <span class="glyphicon glyphicon-remove hover-mouse "
                          aria-hidden="true"
                          ng-click="vm.removeSub($index)"></span>
                </td>
            </tr>
            </tbody>
            <tfoot >
            <tr ng>
                <td class="input-group-sm">
                    <input class="form-control" placeholder="Имя" type="text" ng-model="vm.newSub.name">
                </td>
                <td class="input-group-sm">
                    <input class="form-control" type="number" ng-model="vm.newSub.lectures">
                </td>
                <td class="input-group-sm">
                    <input class="form-control" type="number" ng-model="vm.newSub.practices">
                </td>
                <td class="input-group-sm">
                    <input class="form-control" type="number" ng-model="vm.newSub.csr">
                </td>
                <td class="input-group-sm">
                    <input type="checkbox" ng-model="vm.newSub.credit">
                </td>
                <td class="input-group-sm">
                    <input  type="checkbox" ng-model="vm.newSub.exam">
                </td>
                <td colspan="2"><a class="btn btn-default btn-sm width-button" ng-click="vm.addSub()">Добавить</a></td>
            </tr>
            </tfoot>
        </table>
    </div>
    <!--<div class="list-group col-md-8 col-md-offset-3">-->
        <!--<div class="row">-->

            <!--<div class="col-md-6">-->
                <!--<a class="btn btn-default btn-sm width-button" ng-click="vm.save()">Сохранить изменения</a>-->
            <!--</div>-->
            <!--<div class="col-md-6">-->
                <!--<a class="btn btn-default btn-sm width-button" ng-click="vm.cancel()">Отмена</a>-->
            <!--</div>-->

        <!--</div>-->
    <!--</div>-->

</div>