thead, tbody {
    /*display: block; */
}

.information {
    width: 70%;
    margin: 0 auto;
}

.header {
    text-align: center;
}

.discipline-info {
    width: 33%;
    display: inline-block;
}

.discipline-list, .lector-list {
    height: 70vh;
    overflow: auto;
}

.selected-list tbody{
    height: 70vh;
    overflow-y: auto;
    overflow-x: hidden;
}

.home-button {
    width: 100%;
}

.name, .action, .hours {
    vertical-align: middle !important;
    text-align: center;
}

.hours div{
    text-align: center;
}

.add-button{
    margin-top: 10px;
}

.lector-info {
    width: 33%;
    float: right;
}

.instruments {
    width: 33%;
    display: inline-block;
    vertical-align: top;
}

.link-button, .print-button {
    width: 70%;
    margin: 0 auto;
}

.link-button {
    margin-top: 30vh;
}

.print-button {
    margin-top: 10vh;
}

.selected-item {
    background: #f0ad4e;
    color: white;
}

.remove-lector {
    color: #d9534f;
}

.remove-lector:hover {
    color: #c9302c;
}

.lectors-page .lectors{
   padding: 10px 50px;
}

.table .small-column{
    width:50px;
}

.table .extra-small-column{
    width:25px;
}

.rate{
    padding-top: 40px;
}

.width-button{
    width:100%;
}

.hover-mouse{
    cursor: pointer;
}

.remove-rate{
    padding-top: 9px;
    color: #ff897a;
    cursor: pointer;
}

.extra-small-modal{
    width: 200px
}

.navbar-right li button {
    margin-top: 8px;
}

.group-check{
    margin-left: 10px !important;
    position: relative;
    top: 3px;
}