<div class="row">
    <div class="list-group col-md-7 col-md-offset-1">
        <div class="list-group-item">
            <h4>Общие дисциплины</h4>
        </div>
        <div class="list-group-item">
            <table class="table">
                <thead>
                <tr>
                    <td><strong>Название</strong></td>
                    <td style="width: 100px"><strong>Лекции</strong></td>
                    <td><strong>Лектор</strong></td>
                    <td><strong>Лабы</strong></td>
                </tr>
                </thead>
                <tbody ng-repeat="discipline in vm.commonDisciplines">
                    <tr ><td colspan="4" style="width: 100%"><strong ng-bind="discipline.name"></strong></td></tr>
                    <tr ng-repeat="sub in discipline.subs">
                        <td><h5 ng-bind="sub.name"></h5></td>
                        <td >
                            <div class="list-group-item">
                                <strong ng-bind="vm.coursesMap[discipline.curs].name +'курс'"></strong>
                            </div>
                            <div ng-repeat="group in vm.coursesMap[discipline.curs].groups" class="list-group-item" style="padding-left: 20px">
                                <span ng-bind="group.name + 'группа'"></span>
                                <input ng-model="sub.lecturesList[group.name].isGoes" class="group-check" type="checkbox" ng-change="vm.save()" >
                            </div>
                        </td>
                        <td class="input-group-sm">
                            <select class="form-control" ng-model="sub.lector" ng-change="vm.save()" required>
                                <option ng-repeat="lector in vm.lectors" value="{{lector.id}}">{{lector.name}}</option>
                            </select>
                        </td>
                        <td>
                            <div class="list-group">
                                <div ng-repeat="group in vm.coursesMap[discipline.curs].groups"
                                     class="list-group-item"
                                     style="padding-left: 20px">
                                    <span ng-bind="group.name + 'группа'"></span>
                                    <input class="group-check" type="checkbox" ng-model="sub.classes[group.name].isGoes" ng-change="vm.save()">
                                    <select class="group-check" ng-model="sub.classes[group.name].lector" ng-change="vm.save()">
                                        <option ng-repeat="lector in vm.lectors" value="{{lector.id}}">{{lector.name}}</option>
                                    </select>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>


        <div class="list-group-item">
            <h4>Специальные дисциплины</h4>
        </div>
        <div class="list-group-item">
            <table class="table">
                <thead>
                <tr>
                    <td><strong>Спецкурс</strong></td>
                    <td style="width: 100px"><strong>Лекции</strong></td>
                    <td><strong>Лектор</strong></td>
                    <td><strong>Практика</strong></td>
                </tr>
                </thead>
                <tbody ng-repeat="discipline in vm.specialDisciplines">
                <tr ><td colspan="4" style="width: 100%"><strong ng-bind="discipline.name"></strong></td></tr>
                <tr ng-repeat="sub in discipline.subs">
                    <td><h5 ng-bind="sub.name"></h5></td>
                    <td >
                        <div class="list-group-item">
                            <strong ng-bind="vm.coursesMap[discipline.curs].name +'курс'"></strong>
                        </div>
                        <div ng-repeat="group in vm.coursesMap[discipline.curs].groups" class="list-group-item" style="padding-left: 20px">
                            <span ng-bind="group.name + 'группа'"></span>
                            <input ng-model="sub.lecturesList[group.name].isGoes" class="group-check" type="checkbox" ng-change="vm.save()" >
                        </div>
                    </td>
                    <td class="input-group-sm">
                        <select class="form-control" ng-model="sub.lector" ng-change="vm.save()" required>
                            <option ng-repeat="lector in vm.lectors" value="{{lector.id}}">{{lector.name}}</option>
                        </select>
                    </td>
                    <td>
                        <div class="list-group">
                            <div ng-repeat="group in vm.coursesMap[discipline.curs].groups"
                                 class="list-group-item"
                                 style="padding-left: 20px">
                                <span ng-bind="group.name + 'группа'"></span>
                                <input class="group-check" type="checkbox" ng-model="sub.classes[group.name].isGoes" ng-change="vm.save()">
                                <select class="group-check" ng-model="sub.classes[group.name].lector" ng-change="vm.save()">
                                    <option ng-repeat="lector in vm.lectors" value="{{lector.id}}">{{lector.name}}</option>
                                </select>
                            </div>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>



    </div>
    <div class="list-group col-md-3">
        <div class="list-group-item">
            <h4>Нагрузка преподователей</h4>
        </div>
        <table class="table table-hover list-group-item">
            <thead>
                <tr>
                    <td class="home-button"><strong>Преподаватель</strong></td>
                    <td ><strong>часов</strong></td>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="lector in vm.lectors">
                    <td ng-bind="lector.name"></td>
                    <td >456/780</td>
                </tr>
            </tbody>
            <tfoot >
            <tr>
                <td colspan="4"><a class="btn btn-default btn-sm width-button">Пересчитать</a></td>
            </tr>
            </tfoot>
        </table>
    </div>

</div>